set gfxpayload=640x480x32
menuentry "ENEIDOSO"{
    multiboot /boot/kernel.elf 
    module /boot/cat.elf
    module /boot/touch.elf
    module /boot/echo.elf
    module /boot/help.elf
    module /boot/license.elf
    module /boot/editor.elf
    module /boot/hexdump.elf
    module /boot/a.bmp
  boot
  }
